@media(max-width: 480px){
    .main{
        &.index{
            .sub-section-container{
                .aside{
                    max-width: 80%
                };
            };
        };
        textarea{
            width: calc(100% - 3rem);
            height: auto;
        };
        .form{
            align-items: flex-start;
            .subscription{
                @include flex-column;
                align-items: flex-start;
            };
            input[type="file"]{
                width: calc(100% - 3rem);
            };
        };
        .sub-section-container.index,
        .sub-section-container{
            margin-left: 1rem;
            @include flex-column;
        };
        .sub-section-container{
            &.tools{
                .card{
                    width: 100%;
                };
            };
            &.documentation{
                margin-left: 0;
                margin-right: 0;
                width: 80%;
            };
            .aside{
                max-width: 80%;
                text-align: start;
                align-self: center;
            };
        };
        .tools-section{
            .cards-container{
                flex-direction: column;
                align-items: center;
                .card-custom,
                .card-custom.coming-soon{
                    max-width: 80%;
                    margin: 1rem 0 1rem 0;
                }
            };
        };
        .video-container{
            .video-content{
                max-width: 75%;
            }
        }
    } 
}