@media(max-width: 840px){
    html{
        font-size: 14px;
    }

    .main{
        .start-section{
            @include parallax(false);
        };
        .tools-section{
            @include parallax(false);
        };
        .video-container{
            .video-content{
                max-width: 75%;
            };
        };
        .workaround-container{
            @include flex-column;
            .workaround-logs{
                margin-top: 3rem;
            };
        };
    }
}