.main{
    .workaround-container{
        @include flex-row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 100%;
    };
    .workaround-form,
    .workaround-logs{
        label{
            margin-top: 1.2rem;
        };
        input{
            color: $headerBackgroundColor4;
            border-color: $headerBackgroundColor2;
            font-weight: 600;
        };
        input[type="submit"]{
            margin: 2rem 0 0 0;
            box-shadow: -.2rem .2rem .3rem .1rem $headerBackgroundColor4;
            &:hover{
                box-shadow: .3rem 0 .5rem .2rem;
            };
        };
    };
    .workaround-logs{
        width: 60%;
        .logs-container{
            @include flex-column;
            .logs-label{
                @include flex-row;
                align-items: center;
                justify-content: space-between;
                .radio-logs{
                    @include flex-column;
                    margin-right: 1rem;
                    width: 30%;
                    input{
                        height: 1.5rem;
                        width: 15%;
                    };
                    label{
                        margin-top: 0;
                        width: 85%;
                    };
                    .radio-reservations,
                    .radio-responses{
                        @include flex-row;
                        align-items: center;
                        justify-content: space-around;
                    };
                };
                .selected-logs{
                    @include flex-row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 70%;
                    label{
                        margin-right: 1rem;
                    };
                    input{
                        width: 100%;
                        margin-left: 0;
                    };
                };
            };
            .logs-title{
                align-self: center;
                margin-top: 0;
                font-size: 2rem;
            };
            .session-id-input{
                margin-left: 1rem;
            };
            .textarea{
                resize: both;
                color: black;
                width: 100%;
            };
            .logs-buttons{
                .button{
                    @include button-std;
                    margin-right: 2rem;
                };
                .btn-disabled{
                    box-shadow: unset;
                    background-color: rgba($color: grey, $alpha: .4);
                    border-color: grey;
                    color: black;
                    &:hover{
                        transform: unset;
                        box-shadow: unset;
                        color: black;
                        background-color: rgba($color: grey, $alpha: .4);
                        cursor: not-allowed;
                    };
                };
            };
        };
    };
}