$headerBackgroundColor1: #0C395A;
$headerBackgroundColor2: #0257A3;
$headerBackgroundColor3: #3A79BD;
$headerBackgroundColor4: #44ADE2;
$headerLiColor: white;
$headerFontSize: 1.2rem;
$mainH1TextColor: #0257A3;
$mainH2TextColor: #3A79BD;
$mainPTextColor: #767779;
$mainFontSize: 1.2rem;
$mainImgWidth: 15rem;
$mainImgHeight: 12rem;
$mainToolsSectionTextColor: white;
$footerBackgroundColor1: #045de9;
$footerBackgroundColor2: #09c6f9;
$footerLiColor: white;
$footerFontSize: 1.2rem;
$highlightColor: aqua;